### 1. Explain the key features of Python that make it a popular choice for programming?
Python is a highly popular programming language known for its versatility and ease of use. Several key features contribute to its popularity:

Readable and Simple Syntax:

Python's syntax is clear and easy to understand, which makes it an excellent choice for beginners.
The use of indentation to define code blocks enhances readability.
Interpreted Language:

Python is an interpreted language, which means code is executed line by line. This allows for quick testing and debugging.
Dynamic Typing:

Variables in Python do not require an explicit declaration to reserve memory space. The declaration happens automatically when a value is assigned to a variable.
Extensive Standard Library:

Python comes with a vast standard library that includes modules and packages for various tasks, such as file I/O, system calls, and web development.
Object-Oriented and Functional Programming:

Python supports both object-oriented and functional programming paradigms, giving developers flexibility in how they approach problems.
Cross-Platform Compatibility:

Python is available on multiple operating systems, including Windows, macOS, and Linux, making it a versatile choice for cross-platform development.
Support for Third-Party Modules:

Python has a rich ecosystem of third-party libraries and frameworks, such as NumPy, Pandas, Django, and Flask, which extend its functionality for various applications, including data science, web development, and machine learning.
Strong Community Support:

Python has a large and active community, which means plenty of tutorials, documentation, and forums are available for support.
Integration Capabilities:

Python can easily integrate with other languages and technologies, such as C/C++, Java, and .NET, and it supports APIs for web services.
Rapid Development and Prototyping:

The combination of easy syntax and a vast library of tools makes Python ideal for rapid development and prototyping, allowing developers to quickly turn ideas into functional software.
These features make Python a powerful and flexible tool for a wide range of applications, from simple scripts to complex machine learning algorithms.

### 2.  Describe the role of predefined keywords in Python and provide examples of how they are used in a  program
Predefined keywords in Python, also known as reserved words, are words that have a specific meaning in the language's syntax. These keywords are reserved by Python and cannot be used for naming variables, functions, or other identifiers. They are fundamental to the structure of Python code and define how different operations are carried out, such as loops, conditional statements, function definitions, and more.

Python has several predefined keywords such as if, else, while, for, def, return, import, and so on. Let's break down their role with examples.

Common Python Keywords and Their Usage:

In [1]:
#if, elif, else - Used for conditional statements:
x = 10
if x > 5:
    print("x is greater than 5")
elif x == 5:
    print("x is equal to 5")
else:
    print("x is less than 5")

x is greater than 5

In [2]:
#for, in - Used for looping over a sequence (e.g., list, tuple, string):
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [3]:
#while - Used for loops with a condition:
count = 0
while count < 3:
    print("Count is:", count)
    count += 1

Count is: 0
Count is: 1
Count is: 2

### Compare and contrast mutable and immutable objects in Python with example
Mutable Objects
Mutable objects are those whose values can be changed after they are created. If you modify a mutable object, you are changing the object itself in place, without creating a new one. Common mutable objects in Python include:

Lists
Dictionaries
Sets
User-defined classes (if they modify internal attributes)
Example of Mutable Object (List):

In [4]:
my_list = [1, 2, 3]
print(my_list)  # Output: [1, 2, 3]

my_list[0] = 10  # Modifying the first element
print(my_list)  # Output: [10, 2, 3]

[1, 2, 3]
[10, 2, 3]

In this example, we modified my_list by changing the first element. The list itself remains the same object in memory, but its contents are updated.

Immutable Objects
Immutable objects are those whose state cannot be modified after they are created. When you try to modify an immutable object, Python will create a new object instead of modifying the original one. Common immutable objects include:

Integers
Floats
Strings
Tuples
Booleans
Frozensets
Example of Immutable Object (String):

In [6]:
my_string = "hello"
print(my_string)  # Output: hello

my_string = my_string + " world"
print(my_string)  # Output: hello world

hello
hello world

In this case, attempting to modify an element of my_tuple would result in an error, as tuples are immutable.

### 3. Discuss the different types of operators in Python and provide examples of how they are used.
In Python, operators are special symbols or keywords used to perform operations on variables and values. Python provides various types of operators to perform different kinds of operations, and they can be categorized as follows:

1. Arithmetic Operators
Arithmetic operators are used to perform basic mathematical operations like addition, subtraction, multiplication, etc.

Example:

In [7]:
a = 10
b = 3
print(a + b)  # Output: 13
print(a ** b)  # Output: 1000 (10 raised to the power 3)

13
1000

2. Comparison (Relational) Operators
Comparison operators are used to compare two values. They return True or False based on the comparison.
Example:

In [8]:
a = 5
b = 7
print(a == b)  # Output: False
print(a < b)  # Output: True

False
True

3. Logical Operators
Logical operators are used to combine conditional statements and return True or False.

Example:

In [9]:
x = True
y = False
print(x and y)  # Output: False
print(x or y)  # Output: True
print(not x)  # Output: False

False
True
False

4. Assignment Operators
Assignment operators are used to assign values to variables. They can also perform operations and assign the result to the variable in a shorthand notation.

Example:

In [10]:
a = 5
a += 2  # Equivalent to a = a + 2
print(a)  # Output: 7

7

5. Bitwise Operators
Bitwise operators work on binary digits and perform bit-by-bit operations.

Example:

In [11]:
a = 5  # Binary: 0101
b = 3  # Binary: 0011
print(a & b)  # Output: 1 (Binary: 0001)
print(a | b)  # Output: 7 (Binary: 0111)

1
7

6. Identity Operators
Identity operators are used to check if two variables point to the same object in memory.

Example:

In [12]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]
print(a is b)  # Output: True (Both point to the same object)
print(a is c)  # Output: False (They are different objects even with the same content)

True
False

7. Membership Operators
Membership operators are used to check whether a value is found in a sequence (such as a list, tuple, or string).

Example:

In [13]:
my_list = [1, 2, 3, 4]
print(3 in my_list)  # Output: True
print(5 not in my_list)  # Output: True

True
True

### 5. Explain the concept of type casting in Python with examples

Type casting in Python refers to converting one data type into another. Python provides several built-in functions to achieve this. Type casting is particularly useful when you need to operate on variables that are of different types and require consistent types for specific operations.

There are two types of type casting in Python:

Implicit Type Casting (Automatic)
Explicit Type Casting (Manual)
1. Implicit Type Casting
In implicit type casting, Python automatically converts one data type to another without any user intervention. This happens when Python promotes smaller types (like integers) to larger types (like floats) to avoid data loss in operations.

Example of Implicit Type Casting:

In [14]:
x = 10    # Integer
y = 2.5   # Float

result = x + y  # Python automatically converts 'x' (int) to 'float'
print(result)   # Output: 12.5
print(type(result))  # Output: <class 'float'>

12.5
<class 'float'>

2. Explicit Type Casting
Explicit type casting, or manual casting, occurs when the user explicitly converts one type to another using predefined functions.

Python provides the following functions for explicit type casting:

int() – Converts to an integer

float() – Converts to a float

str() – Converts to a string

list() – Converts to a list

tuple() – Converts to a tuple

set() – Converts to a set

dict() – Converts to a dictionary




Example of Explicit Type Casting:

In [15]:
# Convert float to integer
a = 5.7
b = int(a)  # Truncates decimal part
print(b)    # Output: 5

# Convert string to integer
c = "10"
d = int(c)  # Converts string to integer
print(d)    # Output: 10

# Convert integer to float
e = 15
f = float(e)  # Converts integer to float
print(f)      # Output: 15.0

# Convert list to tuple
g = [1, 2, 3]
h = tuple(g)
print(h)  # Output: (1, 2, 3)

# Convert tuple to list
i = (4, 5, 6)
j = list(i)
print(j)  # Output: [4, 5, 6]

5
10
15.0
(1, 2, 3)
[4, 5, 6]

Type Casting with Strings
Converting String to Integer or Float:

In [16]:
num_str = "123"
num_int = int(num_str)  # Convert string to integer
print(num_int)  # Output: 123

float_str = "45.67"
num_float = float(float_str)  # Convert string to float
print(num_float)  # Output: 45.67

123
45.67

Converting Non-numeric String to Integer or Float:
Attempting to convert a non-numeric string into an integer or float will raise an error.

In [20]:
num_str = "abc"
# num_int = int(num_str)  # This will raise a ValueError: invalid literal for int()

Why Type Casting is Important
Data compatibility: Many functions and operations require inputs of specific data types. Type casting ensures that the correct type is provided.
Preventing errors: Trying to perform operations on incompatible types (e.g., adding a string to an integer) can lead to errors. Type casting helps avoid such issues.
Example: Type Casting to Perform Arithmetic

In [21]:
a = "100"
b = 50

# Without casting, this will raise a TypeError
# result = a + b  # TypeError: can only concatenate str (not "int") to str

# After casting the string 'a' to an integer
result = int(a) + b
print(result)  # Output: 150

150

In this example, converting the string a to an integer using int() makes it possible to add it to the integer b.

Example: Type Casting a Float to an Integer

In [22]:
value = 9.8
int_value = int(value)  # This will remove the decimal part
print(int_value)  # Output: 9

9

Here, int() truncates the decimal part and converts the float to an integer.

Important Notes:
Loss of precision: When casting a float to an integer, the decimal part is lost (truncated), not rounded.
TypeError: If you try to cast incompatible types (e.g., a string with letters to an integer), it will raise a TypeError or ValueError.

### 6.   How do conditional statements work in Python? Illustrate with examples

In Python, conditional statements allow a program to execute different blocks of code based on certain conditions. These conditions are evaluated as True or False. The most common conditional statements in Python are:

if

elif (short for "else if")

else

Syntax of Conditional Statements

if statement:

The if statement is used to check a condition. If the condition evaluates to True, the block of code under the if statement will be executed.
elif statement:

The elif (else if) statement is used to check multiple conditions. It will be checked only if the preceding if condition is False.
else statement:

The else statement is executed if all the preceding if and elif conditions are False.

Example of a Basic Conditional Statement

In [23]:
x = 10

if x > 0:
    print("x is positive")

x is positive

Full Structure with if, elif, and else

In [24]:
x = 0

if x > 0:
    print("x is positive")
elif x == 0:
    print("x is zero")
else:
    print("x is negative")

x is zero

Conditional Statements with Multiple Conditions
You can use logical operators like and, or, and not to combine multiple conditions in a single if statement.

Example:

In [25]:
age = 25
has_license = True

if age >= 18 and has_license:
    print("You are eligible to drive")
else:
    print("You are not eligible to drive")

You are eligible to drive

Nested if Statements
Conditional statements can be nested, meaning an if statement can be placed inside another if or else block.

Example of Nested if:

In [26]:
num = 10

if num >= 0:
    if num == 0:
        print("The number is zero")
    else:
        print("The number is positive")
else:
    print("The number is negative")

The number is positive

Using if-else for Multiple Conditions with elif
When checking multiple conditions, using elif is often more efficient than nesting if statements.

Example:

In [27]:
marks = 85

if marks >= 90:
    print("Grade: A")
elif marks >= 80:
    print("Grade: B")
elif marks >= 70:
    print("Grade: C")
else:
    print("Grade: D")

Grade: B

if with the not operator
The not operator inverts the truth value of a condition.

Example:

In [28]:
is_raining = False

if not is_raining:
    print("You can go outside without an umbrella")
else:
    print("Take an umbrella")

You can go outside without an umbrella

Ternary Conditional (One-liner if-else)
Python supports a shorthand way of writing if-else statements using a ternary conditional expression.

Example:

In [29]:
age = 17
message = "Eligible to vote" if age >= 18 else "Not eligible to vote"
print(message)

Not eligible to vote

8. Describe the different types of loops in Python and their use cases with examples

In Python, loops are used to repeatedly execute a block of code as long as a condition is true. There are two primary types of loops in Python:

for loop
while loop
1. for Loop
A for loop is used to iterate over a sequence (such as a list, tuple, string, or range) and execute a block of code for each item in the sequence.

Example:

In [30]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [33]:
for i in range(5):  # Range generates numbers from 0 to 4
    print(i)

0
1
2
3
4

Use cases for for loop:

Iterating over items in a list, tuple, or dictionary.

Executing a block of code a specific number of times.

Iterating over the characters in a string.

Example: Iterating over a string

In [34]:
for letter in "Python":
    print(letter)

P
y
t
h
o
n

2. while Loop

A while loop repeatedly executes a block of code as long as a specified condition is True.

In [35]:
count = 1

while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

Use cases for while loop:

When you don’t know in advance how many times a loop needs to iterate.

Executing a loop until a condition becomes False.

Waiting for user input or handling continuous processes.

3. Nested Loops

A loop inside another loop is called a nested loop. Both for and while loops can be nested.

Example of a Nested for Loop:

In [36]:
for i in range(3):
    for j in range(2):
        print(f"i={i}, j={j}")

i=0, j=0
i=0, j=1
i=1, j=0
i=1, j=1
i=2, j=0
i=2, j=1

Use cases for Nested Loops:

Iterating over multi-dimensional data structures like lists of lists (2D arrays).

Performing operations on pairs or groups of elements.

4. break and continue Statements

break: Terminates the loop prematurely when a certain condition is met.

continue: Skips the rest of the loop's code and proceeds to the next iteration.

Example of break:

In [37]:
for i in range(5):
    if i == 3:
        break  # Exit the loop when i equals 3
    print(i)

0
1
2

Example of continue:

In [38]:
for i in range(5):
    if i == 3:
        continue  # Skip the rest of the loop when i equals 3
    print(i)

0
1
2
4

5. else with Loops

An else block can be used with both for and while loops. The code in the else block is executed when the loop finishes its iterations normally, but it is not executed if the loop is terminated by a break statement.

Example of else with for loop:

In [39]:
for i in range(5):
    print(i)
else:
    print("Loop completed successfully")

0
1
2
3
4
Loop completed successfully

Example of else with while loop:

In [40]:
i = 0
while i < 5:
    print(i)
    i += 1
else:
    print("Loop ended")

0
1
2
3
4
Loop ended

Example with break preventing the else block:

In [41]:
for i in range(5):
    if i == 3:
        break
    print(i)
else:
    print("Loop completed successfully")

0
1
2

6. Infinite Loops

An infinite loop runs indefinitely unless stopped. This usually happens when the loop's condition never becomes False.

Example of an Infinite Loop:

In [42]:
while True:
    print("This will run forever")
    break  # You can break the infinite loop with a condition

This will run forever